@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Problem</h3>
    <p>Many people enjoy going out to restaurants during the weekends.
However, there are extremely long wait times
You never know how long you have to wait.
    </p>
<h3>Solution</h3>
    <p>
        Cooperation between the customers and the restaurant
    </p>
    <p>
        Process: <br />
        <li>
            As people walk in, waiters updates status of table
        </li>
        <li>
            The waiter adds incoming customers to a priority queue
        </li>
        <li>
            The customer can check how long they have to wait.
        </li>
    </p>
