@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Problem</h3>
    </div>
    <div class="panel-body">
        When going out to restaurants, you never know how long you have to wait.
    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Solution</h3>
    </div>
    <div class="panel-body">
        <p>
            Cooperation between the customers and the restaurant
        </p>

        <p>
            <div class="panel panel-info col-md-3">
                <div class="panel-heading">
                    <h3 class="panel-title">Restaurant</h3>
                </div>
                <div class="panel-body">
                    Update the status of tables and add customers to a priority queue
                </div>
            </div>
            <div class="panel panel-info col-md-3">
                <div class="panel-heading">
                    <h3 class="panel-title">Customers</h3>
                </div>
                <div class="panel-body">
                    From a list of restaurants, check how many people are waiting
                </div>
            </div>
        </p>
    </div>
</div>

    
