@{
    ViewBag.Title = "Contact";
}
<h2><span class="glyphicon glyphicon-envelope"></span> @ViewBag.Title</h2>
<h3>If you have any questions, please email us.</h3>

<address>
    Rensselaer Polytechnic Institute<br />
    Troy, NY 12180<br />
</address>

<address>
    <strong>Samuel Yuan:</strong>   <a href="mailto:yuans@rpi.edu">yuans@rpi.edu</a><br />
</address>