
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title">PriorityQ</h1>
            <p class="intro">
                PriorityQ is designed to make waiting for restaurants as <b>efficient</b> as possible.
            </p>
            <p>
                Find a restaurant and see how many people are waiting.
                @using (Html.BeginForm("Index", "Restaurants"))
                {
                <p>
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>
                }
                <a href="/Restaurants/Index" class="btn btn-primary btn-large">View All Restaurants &raquo;</a>
            </p>
        </div>

        <!-- side image -->
        <div class="col-md-6">
            <div id="carousel-sshot" class="carousel slide">
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="../../Content/tables.png"
                                alt="Any tables left?">
                        <div class="carousel-caption" style="color:black;">
                            <h3>&nbsp;</h3>
                            <p>Any free tables left?</p>
                        </div>
                    </div>

                    <div class="item ">
                        <img src="../../Content/pq.png"
                             alt="Priority Queue">

                        <div class="carousel-caption" style="color:black;">
                            <h3>&nbsp;</h3>
                            <p>Who's waiting?</p>
                        </div>
                    </div>
                </div>

                <!-- go left or right to view different images-->
                <a class="left carousel-control" href="#carousel-sshot" data-slide="prev"><span class="icon-prev"></span></a>
                <a class="right carousel-control" href="#carousel-sshot" data-slide="next"><span class="icon-next"></span></a>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="latest-articles">Getting Started</h2>

        <div class="well col-md-6">
            <h3>Hungry Now?</h3>
            <div class="entry-content">
                <p>
                    <img src="~/Content/hungry_now.jpg" style="width: 100%; height: 200px" />
                </p>
                <p>
                    No problem!
                    Simply visit the restaurant and they will add you to the priority queue. You can check your waiting progress
                    at any time.
                </p>
            </div>
        </div>

        <div class="well col-md-6">
            <h3>Not Hungry Now But Later?</h3>
            <div class="entry-content">
                <p>
                    <img src="~/Content/hungry_later.jpg" style="width: 100%; height: 200px" />
                </p>
                <p>
                    Text the restaurant the following in one message (the phone number is located on the top of the restaurant's page):
                    <ul>
                        <li>Day (ex. 01/01/2015)</li>
                        <li>Time (ex. 6pm)</li>
                        <li>Your Name (ex. John)</li>
                        <li>Group Size (ex. 4)</li>
                    </ul>
                    You will get an immediate response telling you whether you succeeded or not. 
                </p>
            </div>
        </div>

        
    </div>
</div>