@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PriorityQ</h1>
    <p class="lead">PriorityQ is designed to make waiting for restaurants as efficient as possible.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can see a list of restaurants, which will show you how many table are available and how many people are in line. 
        </p>
        <p><a class="btn btn-default" href="/Restaurants">See All Restaurants &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant is Full?</h2>
        <p>You will be added to a priority queue. At any time, you will know exactly how many
        people are waiting, so you can go somewhere else while you wait. </p>
        <p><a class="btn btn-default" href="/Restaurants">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Don't see your restaurant?</h2>
        <p>Want to add your restaurant? Sign up for an account and we'll show you through the process.</p>
        <p><a class="btn btn-default" href="/Account/Register">Sign up today &raquo;</a></p>
    </div>
</div>