@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PriorityQ</h1>
    <p class="lead">PriorityQ is designed to make waiting for restaurants as efficient as possible.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click "Restaurants" to see a restaurant that you plan to go to. You can easily check how many tables are available and make a decision
            before going there.
        </p>
        <p><a class="btn btn-default" href="/Restaurants">See All Restaurants &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant is Full?</h2>
        <p>If you decide to go to that restaurant but have to wait, then the restaurant will add you to a priority queue. You will know exactly how many
        people are waiting, so you can go somewhere else while you wait. </p>
        <p><a class="btn btn-default" href="/Restaurants">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add your restaurant</h2>
        <p>Want to add your restaurant? Sign up for an account and we'll show you through the process.</p>
        <p><a class="btn btn-default" href="/Account/Register">Sign up today &raquo;</a></p>
    </div>
</div>