@using System.Globalization;

@model Priority_Q.Models.Reservation

@{
    ViewBag.Title = "Manage Reservation"; 
    var restaurant = ViewData["Restaurant"] as Priority_Q.Models.Restaurant;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Manage Reservation</h4>
</div>

<div class="modal-body">
    @{
        String formattedTime = (new DateTime()).AddHours(Model.HourSlot).AddMinutes(Model.MinuteSlot).ToString("h:mm tt");
    }
    <h4>
        <label class="control-label">Date:</label>
        @Model.DaySlot, @formattedTime 
        <br />
        <label class="control-label">Name:</label>
        @Html.DisplayFor(model => model.CustomerName)
    </h4>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
        Remove
    </button>

    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>

<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{
                Priority_Q.Models.Reservation currentReservation = (new Priority_Q.Models.ReservationDBContext()).Reservations.Find(Model.ID);
            }
            @Html.Partial("~/Views/Reservations/_Delete.cshtml", currentReservation);
        </div>
    </div>
</div>