@using System.Globalization;

@model Priority_Q.Models.Reservation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to remove the reservation?</h3>
<div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Reservation</h3>
        </div>
        <div class="panel-body">
            <p>
                @DateTime.ParseExact(Model.TimeSlot.ToString().PadLeft(2, '0'), "HH", CultureInfo.CurrentCulture).ToString("h:mm tt")
            </p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" />
        </div>
    }
</div>