@using System.Globalization;

@model Priority_Q.Models.Reservation

@{
    ViewBag.Title = "Manage Reservation";
}

<h2>Manage Reservation</h2>

<h3>
    @{
        String formattedTime = (new DateTime()).AddHours(Model.HourSlot).AddMinutes(Model.MinuteSlot).ToString("h:mm tt");
    }
    Reservation Details 
</h3>
<h4>
    Customer: @Model.CustomerName <br />
    Date: @formattedTime on @Model.DaySlot 
</h4>
    
<p>
    <a class="btn btn-danger" href="@String.Format("../../Reservations/Delete/{0}", Model.ID)">
        Remove 
    </a>
    <a class="btn btn-warning" href="@String.Format("../../Restaurants/ViewTables/{0}", ViewBag.RestaurantId)">
        Cancel
    </a>
</p>