@using System.Globalization;

@{
    ViewBag.Title = "View Full Map";
    var restaurant = ViewData["Restaurant"] as Priority_Q.Models.Restaurant;
    var allTables = ViewData["AllTables"] as IEnumerable<Priority_Q.Models.Table>;
}

<h4>
    Tables Available <span class="label label-default">@ViewBag.AvailableTablesCount / @allTables.Count()</span>
</h4>

<!-- The data passed in is a list of tables for a restaurant -->
<!-- List all empty tables -->
@{
    //Initialize empty layout
    var length = 5;
    int[][] mapLayout = new int[length][];

    for (int i = 0; i < length; i++)
    {
        mapLayout[i] = new int[length];
    }

    //Fill in the tables
    foreach (var item in allTables)
    {
        mapLayout[item.CoordRow][item.CoordCol] = item.ID;
    }
}

<!-- The table layout is supposed to match the actual layout of a restaurant-->
<table class="table table-striped table-hover ">
    @{
        for (var r = 0; r < length; r++)
        {
            <tr>
                @for (var c = 0; c < length; c++)
                {
                    <td>
                        @if (mapLayout[r][c] == 0)
                        {
                            <span class="btn btn-info disabled" style="background: transparent;">
                                &emsp; &emsp; &emsp; &emsp;
                            </span>
                            continue;
                        }

                        @{
                    var item = (new Priority_Q.Models.TableDBContext()).Tables.Find(mapLayout[r][c]);
                        }

                        <!-- Table info (#, max capacity) -->
                        @if (!item.IsOccupied)
                        {
                            <span class="btn btn-success disabled">
                                [Max: @item.MaxCapacity <span class="glyphicon glyphicon-user"></span>]
                            </span>
                        }
                        else
                        {
                            <span class="btn btn-danger disabled">
                                [Max: @item.MaxCapacity <span class="glyphicon glyphicon-user"></span>]
                            </span>
                        }
                    </td>
                }
            </tr>
        }
    }
</table>