@{
    var restaurant = ViewData["Restaurant"] as Priority_Q.Models.Restaurant;
}

<h1>
    @restaurant.Name
</h1>

<ul class="nav nav-tabs" role="tablist">
    <li>
        <a href='@string.Format("/Restaurants/ViewTables/{0}", restaurant.ID)'>
            <span class="glyphicon glyphicon-user"></span> Tables / Priority Queue
        </a>
    </li>
    <li>
        <a href='@string.Format("/Restaurants/ViewReservations/{0}", restaurant.ID)'>
            <span class="glyphicon glyphicon-book"></span> Reservations
        </a>
    </li>
    <li>
        <a href='@string.Format("/Restaurants/ViewNews/{0}", restaurant.ID)'>
            <span class="glyphicon glyphicon-list-alt"></span> Status Updates
        </a>
    </li>
</ul>
