@model IEnumerable<Priority_Q.Models.Customer>

@{
    ViewBag.Title = "View Priority Queue";
}

<h2>Priority Queue</h2>
<h3>Restaurant: @ViewBag.RestaurantName</h3>
<p>
    @if (User.Identity.IsAuthenticated && ViewBag.OwnsRestaurant)
    {
        <a class="btn btn-info" href="@String.Format("../../Customers/Create/{0}", ViewBag.RestaurantID)">
            Add Customer
        </a>
    }
</p>
<table class="table">

    <!-- table contents -->
    @{
        var counter = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="label label-default">
                    #@Html.DisplayFor(modelItem => counter) -- @Html.DisplayFor(modelItem => item.Name) [@Html.DisplayFor(modelItem => item.GroupCapacity)]
                </span>
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && ViewBag.OwnsRestaurant)
                {
                    <a class="btn btn-danger" href="@String.Format("../../Customers/Delete/{0}", item.ID)">
                        Remove
                    </a>
                }
            </td>
        </tr>
        
        counter++;
    }

</table>


